@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Reddit+Mono:wght@200..900&display=swap');
body {
    font: 16px/20px 'Poppins', sans-serif;
    background-color: rgb(205, 204, 230);
    columns: #333;
}

.navbar {

        text-align: center;
        padding-bottom: 25px;
        text-shadow: #eaaeae;
        margin-left: 222px;
        height: 40px;
        background-color: lightskyblue;
        width: 804px;
        color: black;
        /*padding: 10px 30px 10px 30px;*
        *margin: 50px 70px 50px 50px;*/
}
.navbar marquee{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 280px;
    font-size: large;
    margin-top: 20px;
    text-align: center;
    justify-content: center;
}
.container {
    width: 800px;
    margin: auto;
    background-color: #fff;
}
.content p {
    text-align: justify;
}
.header {
    padding: 20px;
    padding-bottom: 2px;
}
.header.judul {
    margin-bottom: 500px;
    font-size: 40px;
    font-weight: bold;
    display: inline;
}
.heaader ul li ol p {
    text-align: justify;
    display: inline-block;
    margin-top: auto;
    margin-right: 10px;
    padding-bottom: 5px;
}
.hader a {
    text-decoration: none;
    color: rgb(15,156,238);
    padding: 3px;
}
.heade a:hover {
    background-color: lightskyblue;
    color: white;
}
.hero {
    height: 300px;
    background-image: url(img/digital.jpg);
    background-size: cover;
    background-position: 30 - 10;
    border-top: 5px solid lightskyblue;
    border-bottom: 5px solid salmon;
}
.content {
    padding: 30px;
}
.content h2 {
    font-size: 30px ;
    font-weight: bold;
}

.content .narasumber {
    font-size: 11px;
    margin-top: -25px;
    text-decoration: none;
}
.content p {
    margin-bottom: 20px;
    font-size: 14px;
}
.footer {
    background-color: rgb(61, 60, 60);
    padding: 10px;
}
.footer .copy {
    color: #eaaeae;
    text-align: center;
    font-size: 12px;
}